@page
@model WebApp.Pages.MovieModel
@{
}


<script src="~/js/pages/movie.js"></script>

<h1>Movie Page</h1>

<div class=" = bs-docs-section">

    <div class="row">

        <legend>Movie List</legend>
        <div class=" col-lg-12">
            <table id="tblMovies" class="display" style=" width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>ReleaseDate</th>
                        <th>Genre</th>
                        <th>Director</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
