@page
@model WebApp.Pages.UsersModel
@{
}
<script src="~/js/pages/users.js"></script>

<hi>User Lists</hi>

<div class=" = bs-docs-section">

    <div  class="row">

        <legend>User List</legend>
        <div class=" col-lg-12">
            <table id="tblUsers" class="display" style=" width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User Code</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Birth Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            </table>
        </div>

    </div>

</div>

