@page
@model WebApp.Pages.UsersModel
@{
}
<script src="~/js/pages/users.js"></script>

<hi>User Lists</hi>

<div class=" = bs-docs-section">

    <div  class="row">

        <legend>User List</legend>
        <div class=" col-lg-12">
            <table id="tblUsers" class="display" style=" width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User Code</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Birth Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            </table>
        </div>

    </div >

    <div class= "row">
        <div class=" col-lg-6">
            <div class=" bs-component">
                <form>
                    <filedset>
                          <legend> User Form</legend>
                        <div class="form-group">
                            <label for="txtId" class="form-label mt-4">User Id</label>
                            <input id="txtId" readonly type="number" class="form-control"/>
                        </div>

                        <div class="form-group">
                            <label for="txtUserCode" class="form-label mt-4">User Code</label>
                            <input id="txtUserCode"  type="text" class="form-control"/>
                        </div>

                        <div class="form-group">
                            <label for="txtName" class="form-label mt-4">Name</label>
                            <input id="txtName"  type="text" class="form-control"/>
                        </div>

                        <div class="form-group">
                            <label for="txtEmail" class="form-label mt-4">Email</label>
                            <input id="txtEmail"  type="email" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="txtBirthDate" class="form-label mt-4">Birth Date</label>
                            <input id="txtBirthDate"  type="date" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="txtStatus" class="form-label mt-4">Status</label>
                            <input id="txtStatus"  type="text" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="txtPassword" class="form-label mt-4">Password</label>
                            <input id="txtPassword" type="text" class="form-control"/>
                        </div>
</filedset>

                </form>
                <button id="btnCreate" class="source-button btn btn-primary btn-xs" type="button">Save</button>
                <button id="btnUpdate" class="source-button btn btn-info btn-xs" type="button">Update</button>
                <button id="btnDelete" class="source-button btn btn-danger btn-xs" type="button">Delete</button>
            </div>

        </div>


    </div>



</div>

